h1  {
  text-align: center;
}

td {
  font-size: 1.2em;
}

.container {
  margin-top: 7em;
}

.hidden {
  display: none;
}

.prioritize {
  display: none;
}

.strike {
  text-decoration: line-through;
}
