h1  {
  text-align: center;
  font-family: "Bangers";
  font-size: 5em;
}

td {
  font-family: "Bangers";
  letter-spacing: 0.2em;
  font-size: 1.2em;
}

thead {
  font-family: "Bangers";
  letter-spacing: 0.2em;
  font-size: 1.5em;
}

.container {
  margin-top: 6em;
}

.Low {
  background-color: #aed581;
  opacity: 0.8;
}

.modal {
  font-family: "Bangers";
  font-size: 2em;
}

.Medium {
  background-color: #fff176;
  opacity: 0.8;
}

.Urgent{
  background-color: #f44336;
  opacity: 0.8;
}

.strike {
  text-decoration: line-through;
}
