h1  {
  text-align: center;
  font-family: "Butcherman";
}

td {
  font-size: 1.2em;
}

.container {
  margin-top: 7em;
}

.low {
  background-color: #aed581;
  opacity: 0.8;
}

.medium {
  background-color: #fff176;
  opacity: 0.8;
}

.high{
  background-color: #f44336;
  opacity: 0.8;
}

.strike {
  text-decoration: line-through;
}
